<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/styles/project_page.css">
    <link rel="stylesheet" href="/styles/header.css">

    <title>Hackday Project: <%= project.name %></title>
</head>
<body>
    <%- include("components/header.ejs") %>

    <div class="project-key-info-container">
        <div class="page-title-container">
            <% if (project.image_url) { %>
                <img
                    id="project-img"
                    src="<%= project.image_url %>"
                    alt="project: <%= project.id %> img"
                />
            <% } %>

            <h1>
                <%= project.name %>
            </h1>
        </div>

        <% if (project.tags) {%>
            <div class="tags">
                <% for (let i=0; i < project.tags.length; ++i) {%>
                    <span class="tag">
                        <%= project.tags[i] %>
                    </span>
                <% } %>
            </div>
        <% } %>

        <div class="creation-info">
            created <%= new Date(project.created * 1000).toLocaleString("en-US") %> by <%= project.owner_meta_data.screen_name %>
        </div>

        <div class="meta-data">
            <span>
                views: <%= project.views %>
            </span>

                <span>
                comments: <%= project.comments %>
            </span>

                <span>
                followers: <%= project.followers %>
            </span>

                <span>
                skulls: <%= project.skulls %>
            </span>
        </div>
    </div>

    <div
        class="project-info-section"
        id="summary"
    >
        <h2>
            Summary:
        </h2>

        <div>
            <%= project.summary %>
        </div>
    </div>

    <div
        class="project-info-section"
        id="description"
    >
        <h2>
            Description:
        </h2>

        <div>
            <%= project.description %>
        </div>
    </div>

    <% if (project.relatedProjects.length > 0) { %>
        <div class="related-projects-section">
            <h2>
                Related Projects:
            </h2>

            <div class="related-projects">
                <% for (let i=0; i < project.relatedProjects.length; ++i) { %>
                    <a
                        class="project"
                        href="/project/<%= project.relatedProjects[i].id %>/"
                    >
                        <h3 class="truncated-title">
                            <%= project.relatedProjects[i].name %>
                        </h3>

                        <div class="truncated-summary">
                            <%= project.relatedProjects[i].summary %>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    <% } %>
</body>
</html>