<div class="owner-tooltip-body">
    <% if (user.image_url) { %>
        <img
            id="user-img"
            src="<%= user.image_url %>"
            alt="user: <%= user.id %> img"
        />
    <% } %>

    <h3>
        <%= user.screen_name %>
    </h3>

    <div>
        username: <%= user.username %>
    </div>

    <% if (user.location) { %>
        <div>
            location: <%= user.location %>
        </div>
    <% } %>

    <% if (user.created) { %>
        <div>
            joined: <%= new Date(user.created * 1000).toLocaleDateString("en-US") %>
        </div>
    <% } %>

    <div>
        followers: <%= user.followers %> | following: <%= user.following %> | projects: <%= user.projects %> | skulls: <%= user.skulls %>
    </div>
</div>