<div
    id="projectsContainer"
    class="projects-container"
>
    <% for (let i=0; i < projects.length; ++i) { %>
        <a
            href="/project/<%= projects[i].id %>/"
            class="project"
        >
            <h2>
                <%= projects[i].name  %>
            </h2>

            <% if (projects[i].tags && projects[i].tags.length > 0) { %>
                <% projects[i].tags.sort((a, b) => {return a.localeCompare(b);}) %>

                <div class="tags">
                    <% for (let j=0; j < projects[i].tags.length; ++j) { %>
                        <span class="tag">
                            <%= projects[i].tags[j] %>
                        </span>
                    <% } %>
                </div>
            <% } %>

            <div class="summary">
                <%= projects[i].summary %>
            </div>

            <div class="creation-info">
                created <%= new Date(projects[i].created * 1000).toLocaleDateString("en-US") %> by <span
                    class="owner"
                    id="post<%= projects[i].id %>OwnerToolTipContainer"
                >
                    <%= projects[i].owner_meta_data.screen_name %>

                    <div
                        id="post<%= projects[i].id %>OwnerToolTip"
                        class="ownerToolTip"
                    >
                    </div>

                    <script>
                        document.getElementById("post<%= projects[i].id %>OwnerToolTipContainer").addEventListener("mouseover", (event) => {
                            let toolTip = document.getElementById("post<%= projects[i].id %>OwnerToolTip");
                            if (toolTip.contains(toolTip.querySelector(".owner-tooltip-body"))) {
                                return;
                            }

                            let localUserInfo = JSON.parse(sessionStorage.getItem("userToolTipInfo"));
                            if (!localUserInfo) {
                                localUserInfo = {};
                            }

                            let ownerId = <%= projects[i].owner_id %>;
                            if (ownerId in localUserInfo) {
                                toolTip.innerHTML = localUserInfo[ownerId];
                            }
                            else {
                                let xhr = new XMLHttpRequest();
                                xhr.open("GET", `/user/${ownerId}/tooltip/`);

                                xhr.onreadystatechange = function () {
                                    if (xhr.readyState === 4) {
                                        if (xhr.status === 200) {
                                            toolTip.innerHTML = xhr.response;
                                            localUserInfo[ownerId] = xhr.response;
                                            sessionStorage.setItem("userToolTipInfo", JSON.stringify(localUserInfo));
                                        }
                                        else {
                                            console.log(xhr.status);
                                            console.log(xhr.response);
                                        }
                                    }
                                };

                                xhr.send();
                            }
                        });
                    </script>
                </span>
            </div>

            <div class="meta-data">
                <span>
                    views: <%= projects[i].views %>
                </span>

                <span>
                    comments: <%= projects[i].comments %>
                </span>

                <span>
                    followers: <%= projects[i].followers %>
                </span>

                <span>
                    skulls: <%= projects[i].skulls %>
                </span>
            </div>
        </a>
    <% } %>
</div>